VIDEO_TO_BLOG_BRANCH=master
VIDEO_TO_BLOG_REMOTE=origin
VIDEO_TO_BLOG_GIT_AUTHOR_NAME=Vision Video Bot
VIDEO_TO_BLOG_GIT_AUTHOR_EMAIL=vision-video-bot@users.noreply.github.com
VIDEO_TO_BLOG_BRANCH=master
VIDEO_TO_BLOG_REMOTE=origin
VIDEO_TO_BLOG_GIT_AUTHOR_NAME=Vision Video Bot
VIDEO_TO_BLOG_GIT_AUTHOR_EMAIL=vision-video-bot@users.noreply.github.com
