SIYUAN_BASE_URL=http://127.0.0.1:6806
SIYUAN_TOKEN=
PUBLISH_REMOTE=origin
# Override if your content sync should push to a branch other than the default deploy branch.
PUBLISH_BRANCH=master
PUBLISH_DEPLOY_HOOK=
