<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weisong.backend.mapper.UserUpdateMessMapper">

    <resultMap id="BaseResultMap" type="com.weisong.backend.entities.User">
        <id property="userUuid" column="user_uuid" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="qq" column="qq" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="CHAR"/>
        <result property="birth" column="birth" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="lastTime" column="last_time" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="oneSentence" column="one_sentence" jdbcType="VARCHAR"/>
        <result property="intro" column="intro" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="User_Column_List">
        `user_uuid`,
        `real_name`,
        `name`,
        `password`,
        `phone`,
        `qq`,
        `birth`,
        `email`,
        `gender`,
        `avatar`,
        `last_time`,
        `role_id`,
        `one_sentence`,
        `intro`
    </sql>
    <update id="updateNameByUserUuid">
        UPDATE user SET `name` = #{name} WHERE user_uuid = #{user_uuid}
    </update>
    <update id="updatePhoneByUserUuid">
        UPDATE user SET `phone` = #{phone} WHERE user_uuid = #{user_uuid}
    </update>
    <update id="updateEmailByUserUuid">
        UPDATE user SET `email` = #{email} WHERE user_uuid = #{user_uuid}
    </update>
    <update id="updateOneSentenceByUserUuid">
        UPDATE user SET `one_sentence` = #{one_sentence} WHERE user_uuid = #{user_uuid}
    </update>
    <update id="updateIntroByUserUuid">
        UPDATE user SET `intro` = #{intro} WHERE user_uuid = #{user_uuid}
    </update>
</mapper>
